// Here goes your CSS
@import 'layout/main';
@import 'layout/mixins';

//Colors
$black-color: #000;
$hover-btn-close: rgb(61, 61, 61);
$white-color: #fff;

// Base styles
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// Others styles
.popup {
  @include display-flex-column;
  align-items: center;
  background-color: $white-color;
  border-radius: 5px;
  left: 50%;
  opacity: 0;
  padding: 40px;
  position: absolute;
  top: -100%;
  transform: translate(-50%, -50%);
}

.form {
  @include display-flex-column;
  margin-top: 20px;
}

.input {
  border: 1px solid $black-color;
  margin-bottom: 20px;
  padding: 15px;

  &--btn {
    background-color: $black-color;
    border: transparent;
    color: $white-color;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 20px;
    text-transform: uppercase;
    transition: transform .5s ease;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

.btn-close-popup {
  @include display-flex-column;
  align-items: center;
  background-color: $black-color;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
  transition: transform .5s ease;
  width: 40px;

  &:hover {
    background-color: $hover-btn-close;
  }
}

.btn-line {
  background-color: $white-color;
  display: block;
  height: 5px;
  transform: rotate(-45deg);
  transform-origin: 62%;
  width: 60%;

  &:last-child {
    transform: rotate(45deg);
    transform-origin: 66%;
  }
}

.show-popup {
  animation: showForm .5s ease-in-out forwards;
}

.hide-popup {
  animation: hideForm .5s ease-in-out alternate;
}

// Animations
@keyframes showForm {

  from {
    opacity: 0;
    top: -100%;
  }

  to {
    opacity: 1;
    top: 50%;
  }
}

@keyframes hideForm {

  from {
    opacity: 1;
    top: 50%;
  }

  to {
    opacity: 0;
    top: -100%;
  }
}

// Custom checkbox
.input-group {
  padding-left: 30px;
  position: relative;
}

// Hide the browser's default checkbox 
.input-group input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

// Create a custom checkbox 
.checkmark {
  background-color: $white-color;
  border: 1px solid $black-color;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

// Create the checkmark/indicator (hidden when not checked) 
.checkmark::after {
  content: '';
  display: none;
  position: absolute;
}

// Show the checkmark when checked 
.input-group input:checked ~ .checkmark::after {
  display: block;
}

// Style the checkmark/indicator 
.input-group .checkmark::after {
  border: solid $black-color;
  border-width: 0 4px 4px 0;
  height: 16px;
  left: 4.5px;
  top: -1px;
  transform: rotate(45deg);
  width: 9px;
}

// Typography
.heading-tertiary {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.success-message {
  display: none;
  font-family: 'Lobster', cursive;
  font-size: 42px;
}
